# Python
__pycache__/
*.pyc
.venv/
venv/

# Banco de dados
*.db
*.sqlite3

# Uploads de usuários (não versionar imagens enviadas)
uploads/institutions/*
!uploads/institutions/.gitkeep

# Editor / SO
.vscode/
.idea/
.DS_Store
